In [1]:
import yaml
import sys
from pathlib import Path

PROJECT_ROOT = Path("..").resolve()
sys.path.append(str(PROJECT_ROOT))

config_path = PROJECT_ROOT / "config.yaml"
with open(config_path) as f:
    config = yaml.safe_load(f)

from src.load_data import load_train, load_test, load_store, load_processed_data
from src.preprocess import merge_store_data, clean_data, prepare_data, add_features, build_preprocessing_pipeline
from src.train import time_split, demo_train, train

In [2]:
train_data = load_train()
store = load_store()

C:\Users\mrdow\rossman\src\load_data.py:16: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(RAW_DATA_DIR / "train.csv")

In [3]:
X_train, y_train, X_test, y_test, X_grp, y_grp = load_processed_data()

Loading latest file: split_data_20260126_174225.pkl
Successfully loaded: split_data_20260126_174225.pkl

In [4]:
X_train

,Store,DayOfWeek,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,PromoOpen,dow_sin,dow_cos,is_weekend,lag1,lag7,rolling_3,rolling_7,diff1,diff7
210735,1,5,489,1,0,0,0,c,a,1270.0,...,NaN,-0.974928,-0.222521,0,6661.0,3537.0,9890.666667,6457.000000,-3075.0,49.0
210736,2,5,418,1,0,0,0,a,a,570.0,...,57.75,-0.974928,-0.222521,0,3586.0,3430.0,9625.333333,6464.000000,-380.0,-224.0
210737,3,5,672,1,0,0,0,a,a,14130.0,...,45.50,-0.974928,-0.222521,0,3206.0,1773.0,4484.333333,6432.000000,2495.0,3928.0
210738,4,5,1129,1,0,0,0,c,c,620.0,...,NaN,-0.974928,-0.222521,0,5701.0,6787.0,4164.333333,6993.142857,1937.0,851.0
210739,5,5,476,1,0,0,0,a,a,29910.0,...,NaN,-0.974928,-0.222521,0,7638.0,4382.0,5515.000000,7114.714286,-3676.0,-420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,0,0,0,a,1,a,a,1900.0,...,-7.50,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017205,1112,2,0,0,0,a,1,c,c,1880.0,...,NaN,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017206,1113,2,0,0,0,a,1,a,c,9260.0,...,NaN,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017207,1114,2,0,0,0,a,1,a,c,870.0,...,NaN,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017208,1115,2,0,0,0,a,1,d,c,5350.0,...,6.75,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0

In [5]:
train_data

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [6]:
X, y = prepare_data(train_data, store, config, "Sales")
groups = X.pop("Date")

In [7]:
X_train, X_test, y_train, y_test, groups_train, groups_test = time_split(X, y, groups)

X_train

,Store,DayOfWeek,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,...,PromoOpen,dow_sin,dow_cos,is_weekend,lag1,lag7,rolling_3,rolling_7,diff1,diff7
210735,1,5,489,1,0,0,0,c,a,1270.0,...,NaN,-0.974928,-0.222521,0,6661.0,3537.0,9890.666667,6457.000000,-3075.0,49.0
210736,2,5,418,1,0,0,0,a,a,570.0,...,57.75,-0.974928,-0.222521,0,3586.0,3430.0,9625.333333,6464.000000,-380.0,-224.0
210737,3,5,672,1,0,0,0,a,a,14130.0,...,45.50,-0.974928,-0.222521,0,3206.0,1773.0,4484.333333,6432.000000,2495.0,3928.0
210738,4,5,1129,1,0,0,0,c,c,620.0,...,NaN,-0.974928,-0.222521,0,5701.0,6787.0,4164.333333,6993.142857,1937.0,851.0
210739,5,5,476,1,0,0,0,a,a,29910.0,...,NaN,-0.974928,-0.222521,0,7638.0,4382.0,5515.000000,7114.714286,-3676.0,-420.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1111,2,0,0,0,a,1,a,a,1900.0,...,-7.50,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017205,1112,2,0,0,0,a,1,c,c,1880.0,...,NaN,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017206,1113,2,0,0,0,a,1,a,c,9260.0,...,NaN,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017207,1114,2,0,0,0,a,1,a,c,870.0,...,NaN,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0
1017208,1115,2,0,0,0,a,1,d,c,5350.0,...,6.75,0.974928,-0.222521,0,0.0,0.0,0.000000,0.000000,0.0,0.0

In [2]:
train()

C:\Users\mrdow\rossman\src\load_data.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train = pd.read_csv(base_path / "train.csv")

Fitting 3 folds for each of 30 candidates, totalling 90 fits
training finished

np.float64(0.9973392089207967)